nav {
    font-family: 'Wallpoet', cursive;
}
#form {
    margin: 1.3em 0 1em;
}
.card-content {
    height: 1em; 
    padding: 1.35em !important;
}
.card-title {
    font-size: 1em !important; 
    line-height: 5px !important;
}
.card-action {
    padding: .7em 1.2em !important;
}
.notificationContainer {
    text-align: center;
    color: #fff; 
    background-color: #37474f; 
    border-radius: 2px;
    padding: 0.5em;
}
